@model SwitchSelect.Models.ViewModels.TrocaProdutoViewModel

@{
    ViewData["Title"] = "Solicitar Troca";
}

<h1>Troca de produto</h1>

<div>
    <h4>Detalhes do Produto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeJogo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeJogo)
        </dd>
        <!-- Adicione aqui outros detalhes do produto, como preço, quantidade, etc., conforme necessário -->
    </dl>
</div>

<div>
    <h4>Motivo da Troca</h4>
    <hr />
    <form asp-action="SolicitarTroca" asp-controller="Troca" method="post">
        <div class="form-group">
            <label asp-for="Motivo"></label>
            <textarea class="form-control" asp-for="Motivo" rows="4" required></textarea>

            <input asp-for="JogoId" hidden/>
            <input asp-for="NomeJogo" hidden/>
            <input asp-for="PedidoId" hidden/>
        </div>
        <!-- Adicione aqui outros campos relacionados à troca, como detalhes de contato, etc., conforme necessário -->
        <input type="hidden" name="JogoId" value="@Model.JogoId" />
        <button type="submit" class="btn btn-primary">Enviar Solicitação de Troca</button>
    </form>
</div>
