@model SwitchSelect.Models.ViewModels.TrocaProdutoViewModel

@{
    ViewData["Title"] = "Solicitar Troca";
}

<h1>Troca de produto</h1>

<div>
    <h4>Motivo da Troca</h4>
    <form asp-action="TrocaPedido" asp-controller="Troca" method="post">
        <div class="form-group">
            <textarea class="form-control" asp-for="Motivo" rows="4" required></textarea>
            <input asp-for="JogoId" hidden />
            <input asp-for="NomeJogo" hidden />
            <input asp-for="PedidoId" hidden />
        </div>
        <input type="hidden" name="PedidoId" value="@Model.PedidoId" />
        @foreach (var produtoId in Model.ProdutosIds)
        {
            <input type="hidden" name="ProdutosIds" value="@produtoId" />
        }
        <!-- Adicione aqui outros campos relacionados à troca, como detalhes de contato, etc., conforme necessário -->
        <input type="hidden" name="JogoId" value="@Model.JogoId" />
        <button type="submit" class="btn btn-primary">Enviar Solicitação de Troca</button>
    </form>
</div>
