@{
    ViewData["Title"] = "Admin";
}
<h2>@ViewData["Title"]</h2>
<a asp-controller="Admin" asp-action="AdminListaCliente">Gerenciar Clientes</a>
<br />
<a asp-controller="Admin" asp-action="AdicionarProduto">Adicionar produto</a>
<br />
<a asp-controller="Admin" asp-action="AdicionarCategoria">Adicionar Categoria</a>
<br />
<a asp-controller="Cupom" asp-action="Index">Cupom</a>
<br>
<a asp-controller="Admin" asp-action="ListaVendas">Vendas</a>