@model string

<!DOCTYPE html>
<html>
<head>
    <title>Curiosidades</title>
    <style>
        textarea {
            width: 100%;
            height: 100px;
            padding: 10px;
            font-size: 16px;
        }

        input[type="submit"] {
            margin-top: 10px;
            padding: 10px 20px;
            font-size: 16px;
        }
    </style>

</head>
<body>
    <form asp-action="ObterCompletions" method="post">
        <input name="nome" value="@ViewBag.NomeJogo" hidden/>
        <div class="container">
            <h1>Curiosidades</h1>
            <div>
                <p>@Model</p>
                <label>
                    <strong>Faça uma pergunta sobre o jogo @ViewBag.NomeJogo</strong>
                </label>
                <textarea name="pergunta"></textarea>
                <input type="submit" value="Enviar" />
            </div>
        </div>
       
    </form>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Voltar</a>
</body>

</html>
