
@{
    ViewData["Title"] = "DevolucaoPedido";
}

<h1>Devolução de pedido</h1>

<p>
    Será enviado um e-mail com detalhes de devolução do produto , após o recebimento
    do produto pela nossa equipe será gerado um cupom com o valor do produto ou o 
    valor será estornado em seu cartão de crédito.
</p>
<a class="btn btn-primary" asp-controller="Pedido" asp-action="StatusDevolucao">Status de devolução</a>