@{
    ViewData["Title"] = "Resumo Pedido";
}
<div class="container mt-4">
    <h1>Pedido confirmado</h1>
    <p>Obrigado pela compra!</p>
    <h2>Detalhe do pedido</h2>
    <p><strong>Númeoro do pedido:</strong>#001</p>
    <ul>
        <li>Jogo Another Code Revollution - 1 x R$249,00</li>
    </ul>
    <p>
        <strong>Endereço de entrega:</strong>
        Donizeti Batista Juniro,Avenida Celeste 520,Mogi das Cruzes,São Paulo
    </p>
    <p><strong>Método de Pagamento:</strong> Cartão de Crédito</p>

    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Continuar Comprando</a>
</div>