
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Entregue</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Chegou no dia 14 de março</h6>
                    <p class="card-text">Another Code</p>
                    <a asp-controller="Pedido" asp-action="TrocaPedido" class="btn btn-primary">Trocar</a>
                    <a asp-controller="Pedido" asp-action="DevolucaoPedido" class="btn btn-primary">Devolver</a>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Entregue</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Chegou no dia 14 de março</h6>
                    <p class="card-text">Mário 3D World</p>
                    <a asp-controller="Pedido" asp-action="TrocaPedido" class="btn btn-primary">Trocar</a>
                    <a asp-controller="Pedido" asp-action="DevolucaoPedido" class="btn btn-primary">Devolver</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>

