@{
    ViewData["Title"] = "Status do pedido";
}
<h2>@ViewData["Title"]</h2>
<p>Compra entregue</p>
<div class="container">
    <h4>Chegou no dia 6 de março</h4>
    <p>
        Entregamos seu pacote na <strong>Avenida Celeste 520</strong>, Jardim Margarida, Mogi das
        Cruzes - SP <br /><br />
    </p>
    <p>Não era o que você esperava, você pode <strong>trocar por outro</strong></p>
    <a class="btn btn-primary" asp-controller="Pedido" asp-action="TrocaPedido">Trocar</a>
    <a class="btn btn-primary" asp-controller="" asp-action="">Cancelamento</a>
</div>
