@{
    ViewData["Title"] = "Status de troca";
}
<h2>@ViewData["Title"]</h2>
<p>
    Seu pedido foi recebido pela nossa equipe, seu cupom de troca já foi gerado e 
    enviado pelo seu e-mail
</p>
<p>
    Seu cupom de troca foi gerado.
</p>
<div class="col-md-4">
    <div class="card mb-3">
        <div class="card-body text-center">
            <h5 class="card-title">R$30,00</h5>
            <h6 class="card-subtitle mb-2 text-muted">Cupom: 0001</h6>
        </div>
    </div>
</div>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Continuar navegando</a>