@{
    ViewData["Title"] = "Troca de pedido";
}
<h2>@ViewData["Title"]</h2>

<p>
    Será enviado um e-mail com detalhes de devolução do produto para troca, após o recebimento 
    do produto pela nossa equipe será gerado um cupom de troca com valor do seu produto.
</p>
<a class="btn btn-primary" asp-controller="Pedido" asp-action="StatusTroca">Status de troca</a>