
<h2>Troca solicitada</h2>
<p>
    Seu pedido foi recebido pela nossa equipe, acompanhe sua solicitação em seu pedidos.
</p>

<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Continuar navegando</a>