

<div class="container-fluid">
    <h1>Seus cupons</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title">R$30,00</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Cupom: 0001</h6>
                    <a href="#" class="btn btn-primary">Aplicar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title">R$15,00</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Cupom: 0002</h6>
                    <a href="#" class="btn btn-primary">Aplicar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title">R$50,00</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Cupom: 0003</h6>
                    <a href="#" class="btn btn-primary">Aplicar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title">R$25,00</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Cupom: 0004</h6>
                    <a href="#" class="btn btn-primary">Aplicar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title">5% de off</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Cupom: 0005</h6>
                    <a href="#" class="btn btn-primary">Aplicar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title">15% de off</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Cupom: 0006</h6>
                    <a href="#" class="btn btn-primary">Aplicar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title">5% de off</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Cupom: 0007</h6>
                    <a href="#" class="btn btn-primary">Aplicar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title">R$15,00</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Cupom: 0008</h6>
                    <a href="#" class="btn btn-primary">Aplicar</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <h5 class="card-title">R$20,00</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Cupom: 0008</h6>
                    <a href="#" class="btn btn-primary">Aplicar</a>
                </div>
            </div>
        </div>
    </div>
</div>

